*{
    font-family: 'Times New Roman';
}

body{
    background-image: url("WEB/library.jpg");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
nav{
    margin-top: 0;
    padding-top: 0;
    background-color: #333;
    height:120px;

    /*border-radius: 3rem;*/
}

nav ul li{
    margin-top:0 ;
    padding-top: 0;
    font-size:larger;
    display: inline-block;
    padding: 5px;

}

.circle{
    border-radius: 50px;
    margin-left: 0.5%;
    margin-top: 10px;

}

header{
    /*background-image: url("WEB/library.jpg");*/
   /* background-size:2000px;*/
    position: relative;
    height: 500px;
}
.Hero-bg{
    width:50%;
    height: 105%;
    margin-top: 10px;
    margin-left: 30%;

    padding-bottom: 10px;
    top:20%;
    padding-left: 20%;
    position: absolute;
    z-index:-1;
}


ul{
    padding: 10px;
    text-align: right;
    margin:0;

   
}

.floatleft{
    float: left;
}


nav a{
    text-decoration:none;
    font-size: larger;
    margin: 10px;
    font-weight: bold;
   
}

h2{
    background-color: rgba(157, 152, 152, 0.5);
   
    color:#0e1622;
    text-align: center;
    font-size: 100px;
}

figure{
    /*background-color: aliceblue;*/
    width: 25px;
}

.Bookcontainer{
   /*background-color:#F1E9F9;*/
   background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 2500px;
    min-height: fit-content;
    flex-wrap: wrap;
   /*  border: solid #000; */
    outline-offset: 25px;
    outline: #000 solid;
}


.navigationhome a:link,a:visited{
    color: white;
    
}


.navigationhome a:hover{
    color: #2e73bc ;
    
}
.headline{
    background-color:aquamarine;;
    font-size: 75px;
    margin-left:500px;
   text-align: center;
   margin-top: 40px;
   padding-top:30px;

  
   width: 60%;
   margin-right: 10px;
   height: 200px;
   color: black;
   font-weight: bolder;

}

.ViewMore1{
    border-color: #0056b3;
    border-radius: 100px;
    margin-left: 1000px;
    width: 200px;
    height: 30px;
    
    background-color:#0056b3 ;
    font-size: large;
    font-weight: bold;
    color:black;

}
hr{
    margin-top:100px ;
    border: solid aliceblue;
    border-width: 4px;
}

.viewMore{
   
    margin-top: 60px;
    margin-left:900px;
}

.BackgroundImg{
    float:left;
}
.Featured-Books{
    padding: 10px;
    width: 2000px;
    background-color: aquamarine;
    border: solid black;
    font-size: larger;
}
.Featured-Books .title{
    text-align: center;
}