*{
    font-family: 'Times New Roman';
   
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-image: url("images/harryPotter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.Error{
    color:red;
    font-size: small;
   
}

 .BlackLink a:link, .BlackLink a:visited{
    color:black;
}
.BlackLink a:hover{
    color:rgb(76, 74, 74);

}
   nav{

    height:20px;
 
   /*border-radius: 3rem; */
}

nav ul li{
    margin-top:0 ;
    padding-top: 0;
    font-size:10px;
    display: inline-block;
    padding: 5px;
    color:aliceblue;

}

ul{
    padding: 10px;
    text-align: right;
    margin:0;
    color:aliceblue;
}



nav a{
    text-decoration:none;
    font-size: larger;
    margin: 10px;
    font-weight: bold;
   
   
}
nav a:link, nav a:visited{
    color:aliceblue;

    
}
nav a:hover{
    color:aliceblue ;
 } 
 
#Role{
    position: absolute;
    right: 270px;
    margin-left:10px;
    padding-left:100px ;
    padding-top:20px;
    width:500px;
    font-size: large;
    background-color:aliceblue;
    height: 200px;
    border-radius:100px;
    border:solid #3C2F4A;
    border-width: 8px;
}
.Title{
   padding-left:150px;
}

#loginForm{
    position: relative;
    padding-left:100px ;
    padding-top:20px;
    background-color:aliceblue;
    width:500px;
    margin-left: 600px;
    padding-bottom: 20px;
    border-radius: 20px;
   margin-top: 200px;

    border-width: 8px;
    
}
#email {
    padding-right: 10px;
    border:solid aliceblue;
    border-radius: 20px;
    height:20px;
    text-align: center;
    font-size: large;
    width:80%;
    margin-top: 15px;
    margin-bottom: 5px;
} 

.FormlabelDesign{
    margin-bottom: 20px;
    margin-right:100px;
   font-size: large;
   font-weight: bold;
}
#password{
    padding-right: 30px;
    border:solid aliceblue;
    border-radius: 20px;
    height:20px;
    text-align: center;
    font-size: large;
    width:80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#RemeberME{
    margin-bottom:20px ;

}

.remembermeTXT{
    font-weight: bold;

}
form{
    margin-left:130px;
    display:inline-grid;

}
.LoginButton{
    width: 400px;
    height: 30px;

    color:aliceblue;
    border-radius: 40px;
    border-color: aliceblue;
    font-size: medium;
}
*{
    font-family: Garamond;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("WEB/library.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.Error{
    color:red;
    font-size: small;
   
}
nav{
    background-color: #333;
    height:150px;
    color:aliceblue;
   
   /*border-radius: 3rem;*/
}

nav ul li{
    margin-top:0 ;
    padding-top: 0;
    font-size:1.3rem;
    display: inline-block;
    padding: 5px;
    color:aliceblue;

}

ul{
    padding: 1.75rem;
    text-align: right;
    margin:0;
    color:aliceblue;
}



nav a{
    text-decoration:none;
    font-size: larger;
    margin: 0.5rem;
    font-weight: bold;
   
   
}
a:link,a:visited{
    color:aliceblue;

    
}
a:hover{
    color:rgb(145, 198, 245);
    
}
#Role{
    /*position: absolute;*/
    margin-top:300px;
    left: 1500px;
    margin-left:10px;
    padding-left:100px ;
    padding-top:20px;
    width:500px;
    font-size: large;
    background-color:aquamarine;
    height: 200px;
    border-radius:100px;
    border:solid #007bff;
    border-width: 8px;
}
.Title{
   padding-left:150px;
}

#loginForm{
    position: relative;
    padding-left:100px ;
    padding-top:20px;
    background-color:aquamarine;
    width:500px;
    margin-left: 600px;
    padding-bottom: 20px;
    border-radius: 20px;
   margin-top: 200px;
    border:solid #007bff;
    border-width: 8px;
    
}
#Email {
    padding-right: 10px;
    border:solid aliceblue;
    border-radius: 20px;
    height:20px;
    text-align: center;
    font-size: large;
    width:80%;
    margin-top: 15px;
    margin-bottom: 5px;
} 

.FormlabelDesign{
    margin-bottom: 20rem;
    margin-right:100rem;
   font-size: large;
   font-weight: bold;
}
#password{
    padding-right: 30px;
    border:solid aliceblue;
    border-radius: 20px;
    height:20px;
    text-align: center;
    font-size: large;
    width:80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#RemeberME{
    margin-bottom:20px ;

}

.remembermeTXT{
    font-weight: bold;

}
form{
    margin-left:130px;
}
#LoginButton{
    width: 400px;
    height: 30px;
    background-color: #007bff;
    color:aliceblue;
    border-radius: 40px;
    border-color: aliceblue;
    font-size: medium;
}
