nav{
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
body {
    background-image: url("../images/library.jpg");
    background-position: center;
    backdrop-filter:blur(5px) ;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;

}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
 }
 .books{
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    color: rgb(1, 9, 6);
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    font-size: larger;
}
input[type="number"],
input[type="text"] {
    width: 18%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 6px solid #9bda94;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.book-item {
    background-color:aquamarine;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    max-width: 50%;
}

h1{
    font-size: xx-large;
    color: aliceblue;
}
li{
    color: aliceblue;
}
.borrowedBooks .messages .success {
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.book-info {
    font-weight: bold; 
}

.borrowed-info {
    margin-top: 5px; 
    color: #666; 
}
